<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Merriweather:wght@700&display=swap&family=Dancing+Script:wght@600&family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/626c2a185b.js" crossorigin="anonymous"></script>
    <title>Health Care</title>
</head>
<body>
    <header id="nav-bar" class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img style="width: 40px;" src="heart.png">
            <span class="ml-3 text-xl">Health care</span>
          </a>
        </div>
      </header>
      <section class="text-gray-600 body-font">
        <div style="padding-top: 50px;" class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <video style=" background-color: #444;   " id="videoPlayer"  width="650" height="360"  controls muted = "muted" autoplay >
              <source src="/corona" type="video/mp4" />
            </video>
            <h1>How did the coronavirus start?
                </h1>
            <p style="text-align: justify;" class="leading-relaxed text-lg">The first case of COVID-19 was reported Dec. 1, 2019, and the cause was a then-new coronavirus later named SARS-CoV-2. SARS-CoV-2 may have originated in an animal and changed (mutated) so it could cause illness in humans. In the past, several infectious disease outbreaks have been traced to viruses originating in birds, pigs, bats and other animals that mutated to become dangerous to humans. Research continues, and more study may reveal how and why the coronavirus evolved to cause pandemic disease.</p>
            <h1>How does the coronavirus spread?</h1> 
            <p style="text-align: justify;" class="leading-relaxed text-lg">As of now, researchers know that the coronavirus is spreading through droplets and virus particles released into the air when an infected person breathes, talks, laughs, sings, coughs or sneezes. Larger droplets may fall to the ground in a few seconds, but tiny infectious particles can linger in the air and accumulate in indoor places, especially where many people are gathered and there is poor ventilation. This is why mask-wearing, hand hygiene and physical distancing are essential to preventing COVID-19.<br><strong>WHO also said that:-<br></strong>The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing, or breathe. These particles range from larger respiratory droplets to smaller aerosols. It is important to practice respiratory etiquette, for example by coughing into a flexed elbow.</p>
          </div>
        </div>
      </section>
      <h1>Refresh the page to get live updates on covid 19</h1>
      <section  class="text-gray-600 body-font">
          <div style="padding-top: 15px;" class="container px-5 py-24 mx-auto">
            
          <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2  class="title-font font-medium sm:text-3xl text-3xl text-gray-900"><%= total_cases %></h2>
              <p  class="leading-relaxed">Total Cases</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-3xl text-3xl text-gray-900"><%= new_cases %></h2>
              <p class="leading-relaxed">New Cases</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-3xl text-3xl text-gray-900"><%= recovered %></h2>
              <p class="leading-relaxed">Total Recovered</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2  class="title-font font-medium sm:text-3xl text-3xl text-gray-900"><%= deaths %></h2>
              <p class="leading-relaxed">New Deaths</p>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <p style="color: black; margin:15px 5px ; text-align: center;" class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"><i class="fa fa-copyright" aria-hidden="true"></i> 2021 Health care —
          <a class="text-white-600 ml-1" rel="noopener noreferrer" target="_blank">@Ayush Rawat</a>
        </p>
      </footer>
</body>
<style>
    h1{
    font-size: 2.25rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 25px;
    color: red;
    font-weight: bold;
}


</style>
</html>